#msg{
	border: 1px solid #c3c3c3;
	background-color: #f2f2f2;
	padding: 5px;
	margin-bottom: 20px;
	font-weight: bold;
	display: none;
}

tr:hover {
	background-color: lightgray;
	cursor: pointer;
}

th {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: gray;
  color: white;
}

button {
	cursor: pointer;
}

td {
  border-width: 1px;
  border-style:solid;
  border-color: lightgray;
}